$border-color: #E2E6E7;
$color-1: #F9B718;
$color-2: #2C3E50;
$color-3: #A1B1BC;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    border: 1px solid $border-color;
    border-radius: 10px;

    div{

        h3{
            font-family: 'Lato';
            font-size: 14px;
            font-weight: 900;
            color: $color-2;
            line-height: 26px;
            text-transform: uppercase;
        }
        p{
            font-family: 'Lato';
            font-size: 14px;
            font-weight: 400;
            color: $color-2;
            line-height: 24px;
        }

        &:before{
            content: '/12a';
            background-color: $color-1;
            width: 50px;
            height: 50px;
        }
    }
 
}


   
